@import url(globalStyles.css);

body {
    font-family: "Inter", sans-serif
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}
.header__container {
    display: flex;
    padding: 20px clamp(1.375rem, -31.548rem + 51.442vw, 14.75rem);
    justify-content: space-between;
    align-items: center;
    
    border-bottom: 2px solid var(--cor-brand-1);
    background-color: var(--cor-gray-1);
}

.header__logo {
    width: 200px;
    height: 20.798px;
}

.header__button {
    padding: 20px 32px;

    color: var(--cor-gray-7);
    border: 1px solid var(--cor-gray-7);
    background-color: var(--cor-gray-1);
}

.banner__container {
    display: flex;
    padding: 250px clamp(1.563rem, -30.899rem + 50.721vw, 14.75rem);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 44px;

    background-color: var(--cor-gray-2);
}

.banner_tittle {
    font-size: clamp(2.938rem, 2.168rem + 1.202vw, 3.25rem);
    font-weight: var(--title-1-font-weight);
    line-height: var(--title-1-line-height);
    color: var(--cor-gray-6);
    text-align: center;
}

.banner_tittle--blue {
    color: var(--cor-brand-1);
}

.banner_text {
    font-size: clamp(1.188rem, 1.034rem + 0.24vw, 1.25rem);
    font-weight: var(--text-1-font-weight);
    line-height: var(--text-1-line-height);
    color: var(--cor-gray-4);
    text-align: center;
}

.banner__button {
    padding: 20px 32px;

    border: 1px solid var(--cor-brand-1);
    background-color: var(--cor-brand-1);
    color: var(--cor-gray-7)
}

.banner__button:hover {
    border: 1px solid var(--cor-brand-2);
    background-color: var(--cor-brand-2);
}

.about__container {
    display: flex;
    padding: 82px clamp(1.563rem, -30.899rem + 50.721vw, 14.75rem);
    align-items: center;
    gap: 56px;
    justify-content: space-between;
    background-color: var(--cor-gray-1);
}

.about__title {   
    font-size: clamp(1.875rem, 0.337rem + 2.404vw, 2.5rem);
    font-weight: var(--title-2-font-weight);
    line-height: var(--title-2-line-height);
    color: var(--cor-gray-6);
    width: clamp(20rem, -124rem + 225vw, 78.5rem);
}

.about__text {
    font-size: clamp(1.188rem, 1.034rem + 0.24vw, 1.25rem);
    font-weight: var(--text-1-font-weight);
    line-height: var(--text-1-line-height);
    color: var(--cor-gray-5);
    text-align: justify;
    width: clamp(20rem, -124rem + 225vw, 78.5rem);
}

.faq__container {
    display: flex;
    padding: 82px clamp(1.563rem, -30.899rem + 50.721vw, 14.75rem);
    gap: 56px;    
    justify-content: space-between;

    background-color: var(--cor-gray-2);
}

.faq__container--father{
    display: flex;
    width: clamp(20rem, -124rem + 225vw, 78.5rem);
    flex-direction: column;
    gap: 33px;
}

.faq__container--left {
    display: flex;
    flex-direction: column;
    gap: 33px;
    position: sticky;
    top: 9rem;    
}

.faq__title--left {
    font-size: clamp(1.875rem, 0.337rem + 2.404vw, 2.5rem);
    font-weight: var(--title-2-font-weight);
    line-height: var(--title-2-line-height);
    color: var(--cor-gray-6);
}

.faq__text--left {
    font-size: clamp(1.188rem, 1.034rem + 0.24vw, 1.25rem);
    font-weight: var(--text-1-font-weight);
    line-height: var(--text-1-line-height);
    color: var(--cor-gray-4);
    text-align: justify;
}

.faq__button--left {
    padding: 20px 32px;
    width: 266px;
    height: 60px;

    border:  1px solid var(--cor-brand-1);
    background-color: var(--cor-brand-1);
    color: var(--cor-gray-7);
}
.faq__button--left:hover {
    border:  1px solid var(--cor-brand-2);
    background-color: var(--cor-brand-2);
}

.faq__container--right {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: clamp(20rem, -124rem + 225vw, 78.5rem);
}

.faq__title--right {
    font-size: clamp(1.563rem, 0.486rem + 1.683vw, 2rem);
    font-weight: var(--title-3-font-weight);
    line-height: var(--title-3-line-height);
    color: var(--cor-gray-6);
    text-align: center;
    padding: 20px;
}

.faq__text--right {
    font-size: clamp(1.188rem, 1.034rem + 0.24vw, 1.25rem);
    font-weight: var(--text-1-font-weight);
    line-height: var(--text-1-line-height);
    color: var(--cor-gray-4);
    text-align: justify;
}

.comments__container {
    display: flex;
    padding: 82px clamp(1.563rem, -30.899rem + 50.721vw, 14.75rem);
    flex-direction: row-reverse;
    gap: 56px;
    justify-content: space-between;

    background-color: var(--cor-gray-2);
}
.comments__container--right-side {
    width: clamp(20rem, -124rem + 225vw, 78.5rem);
}
.comments__container--right {
    display: flex;
    padding: 80px clamp(1.875rem, -1.51rem + 5.288vw, 3.25rem);
    flex-direction: column;
    height: 283px;
    gap: 35px;
    position: sticky;
    top: 10rem;    
    
    background-color: var(--cor-brand-1);
}

.comments__title--right {
    font-size: clamp(1.875rem, 0.337rem + 2.404vw, 2.5rem);
    font-weight: var(--title-2-font-weight);
    line-height: var(--title-2-line-height);
    color: var(--cor-gray-7);
}

.comments__text--right{
    font-size: clamp(1.188rem, 1.034rem + 0.24vw, 1.25rem);
    font-weight: var(--text-1-font-weight);
    line-height: var(--text-1-line-height);
    color: var(--cor-gray-7); 
}

.comments__container--left {
    display: flex;
    width: clamp(20rem, -124rem + 225vw, 78.5rem);
    flex-direction: column;
    align-items: flex-start;
    gap: 82px;    
}

.comments__list--container {
    display: flex;
    align-items: flex-start;
    gap: 16px;    
}

.comments__div--container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
}

.comments__title--left {
    font-size: clamp(1.563rem, 0.486rem + 1.683vw, 2rem);
    font-weight: var(--title-3-font-weight);
    line-height: var(--title-3-line-height);
    color: var(--cor-gray-6);
}

.comments__text--left {
    font-size: clamp(0.938rem, 0.784rem + 0.24vw, 1rem);
    font-weight: var(--text-3-font-weight);
    line-height: var(--text-3-line-height);
    color: var(--cor-gray-4);
}

.comments__text--paragraph {
    font-size: clamp(1rem, 0.692rem + 0.481vw, 1.125rem);
    font-weight: var(--text-2-font-weight);
    line-height: var(--text-2-line-height);
    color: var(--cor-gray-5);
    text-align: justify;
}

footer {
    display: flex;
    padding: 50px clamp(12.5rem, -75.962rem + 138.221vw, 48.438rem);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: var(--cor-gray-1);
}

.modal__style {
    width: 476px;
    padding: 0px;
    border: 2px solid var(--cor-brand-1);
    background-color: var(--cor-gray-2);
}

.modal__style::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__container {
    display: inline-flex;
    flex-direction: column;
    padding: 40px 28px;
    gap: 31px;
}

.modal__container--top {
    display: flex;
    justify-content: space-between;
}

.modal__title {
    font-size: var(--title-3-font-size);
    font-weight: var(--title-3-font-weight);
    line-height: var(--title-3-line-height);
    color: var(--cor-gray-7);
}

.modal__button--close {
    padding: 0px  12px;
    border-radius: 4px;
    height: 32px;

    border: none;
    background-color: var(--cor-gray-3);
    color: var(--cor-gray-4);
    font-size: 20px;
    font-weight: 600;
    line-height: 160%;
}

.modal__text {
    font-size: var(--text-3-font-size);
    font-weight: var(--text-3-font-weight);
    line-height: var(--text-3-line-height);
    color: var(--cor-gray-5);
}

.modal__input {
    padding: 14px 20px;
    border: none;
    background-color: var(--cor-gray-1);
    color: var(--cor-gray-4);
    font-size: var(--text-1-font-size);
    font-weight: var(--text-1-font-weight);
    line-height: var(--text-1-line-height);
}

.modal__input:focus {
    outline: none;
    background-color: var(--cor-gray-3);
}

.modal__input:focus::placeholder {
    opacity: 0;
}

.modal__button {
    height: 60px;
    border: 1px solid var(--cor-brand-1);
    background-color: var(--cor-brand-1);

    color: var(--cor-gray-7);
    font-size: var(--text-4-font-size);
    font-weight: var(--text-4-font-weight);
    line-height: var(--text-4-line-height);
}

.modal__button:hover {
    border: 1px solid var(--cor-brand-2);
    background-color: var(--cor-brand-2);
}

@media (max-width: 1024px) {
    .comments__list--container {
        flex-direction: column;
    }
    .comments__div--container {
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .about__container {
        flex-direction: column;
    }
    .faq__container {
        flex-direction: column;
        align-items: center;
    }
    .faq__container--father {
        width: 100%;
    }
    .faq__container--left {
        align-items: center;
        
    }
    .about__text, .faq__button--left, .faq__container--right, .faq__container--father {
        width: 100%;     
    }
    .comments__container {
       flex-direction: column;
       align-items: center;
    }
    .comments__container--right-side {
        width: 100%;
    }
    .comments__container--right {
        justify-content: center;
        align-items: center;
        padding: 50px 0;
    }
    .comments__text--right {
        width: 90%;
    }
    .comments__container--left {
        align-items: center;
    }
    .comments__container--left {
        width: 100%;
        gap: 40px
    }
}

@media (max-width: 425px) {
    .header__button {
        display: none;
    }
    .comments__container--right {
        align-items: center;
    }
    .comments__title--right {
        width: 90%;
    }
    .faq__title--right {
        padding: 0;
        padding-bottom: 20px;
    }
}

