@import url(/src/styles/globalStyles.css);

body {
    font-family: "Inter", sans-serif
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}
.header__container {
    display: flex;
    padding: 20px 236px;
    justify-content: space-between;
    align-items: center;
    
    border-bottom: 2px solid var(--cor-brand-1);
    background-color: var(--cor-gray-1);
}

.header__logo {
    width: 200px;
    height: 20.798px;
}

.header__button {
    padding: 20px 32px;

    color: var(--cor-gray-7);
    border: 1px solid var(--cor-gray-7);
    background-color: var(--cor-gray-1);
}

.banner__container {
    display: flex;
    padding: 250px 236px;
    flex-direction: column;
    align-items: center;
    gap: 44px;

    background-color: var(--cor-gray-2);
}

.banner_tittle {
    font-size: var(--title-1-font-size);
    font-weight: var(--title-1-font-weight);
    line-height: var(--title-1-line-height);
    color: var(--cor-gray-6);
}

.banner_tittle--blue {
    color: var(--cor-brand-1);
}

.banner_text {
    font-size: var(--text-1-font-size);
    font-weight: var(--text-1-font-weight);
    line-height: var(--text-1-line-height);
    color: var(--cor-gray-4);
}

.banner__button {
    padding: 20px 32px;

    border: 1px solid var(--cor-brand-1);
    background-color: var(--cor-brand-1);
    color: var(--cor-gray-7)
}

.banner__button:hover {
    border: 1px solid var(--cor-brand-2);
    background-color: var(--cor-brand-2);
}

.about__container {
    display: flex;
    padding: 82px 236px;
    align-items: center;
    justify-content: space-between;
    gap: 56px; 

    background-color: var(--cor-gray-1);
}

.about__title {   
    font-size: var(--title-2-font-size);
    font-weight: var(--title-2-font-weight);
    line-height: var(--title-2-line-height);
    color: var(--cor-gray-6);
}

.about__text {
    width: 580px;

    font-size: var(--text-1-font-size);
    font-weight: var(--text-1-font-weight);
    line-height: var(--text-1-line-height);
    color: var(--cor-gray-5);
}

.faq__container {
    display: flex;
    padding: 82px 236px;
    gap: 56px;    
    justify-content: space-between;

    background-color: var(--cor-gray-2);
}

.faq__container--father{
    display: flex;
    width: 620px;
    padding-right: 87px;
    flex-direction: column;
    gap: 33px;
    flex-shrink: 0;
}

.faq__container--left {
    display: flex;
    padding-right: 87px;
    flex-direction: column;
    gap: 33px;
    position: sticky;
    top: 9rem;    
}

.faq__title--left {
    font-size: var(--title-2-font-size);
    font-weight: var(--title-2-font-weight);
    line-height: var(--title-2-line-height);
    color: var(--cor-gray-6);
}

.faq__text--left {
    font-size: var(--text-1-font-size);
    font-weight: var(--text-1-font-weight);
    line-height: var(--text-1-line-height);
    color: var(--cor-gray-4);
}

.faq__button--left {
    padding: 20px 32px;
    width: 266px;
    height: 60px;

    border:  1px solid var(--cor-brand-1);
    background-color: var(--cor-brand-1);
    color: var(--cor-gray-7);
}
.faq__button--left:hover {
    border:  1px solid var(--cor-brand-2);
    background-color: var(--cor-brand-2);
}

.faq__container--right {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 583px;
}

.faq__title--right {
    font-size: var(--title-3-font-size);
    font-weight: var(--title-3-font-weight);
    line-height: var(--title-3-line-height);
    color: var(--cor-gray-6);
    text-align: center;
}

.faq__text--right {
    font-size: var(--text-1-font-size);
    font-weight: var(--text-1-font-weight);
    line-height: var(--text-1-line-height);
    color: var(--cor-gray-4);
}

.comments__container {
    display: flex;
    padding: 82px 236px;
    flex-direction: row-reverse;
    gap: 56px;
    justify-content: space-between;

    background-color: var(--cor-gray-2);
}

.comments__container--right-side {
    padding-left: 86.4px;
}

.comments__container--right {
    display: flex;
    padding: 80px 52px;
    flex-direction: column;
    width: 390px;
    height: 283px;
    gap: 35px;
    position: sticky;
    top: 10rem;    
    
    background-color: var(--cor-brand-1);
}

.comments__title--right {
    font-size: var(--title-2-font-size);
    font-weight: var(--title-2-font-weight);
    line-height: var(--title-2-line-height);
    color: var(--cor-gray-7);
}

.comments__text--right{
    font-size: var(--text-1-font-size);
    font-weight: var(--text-1-font-weight);
    line-height: var(--text-1-line-height);
    color: var(--cor-gray-7); 
}

.comments__container--left {
    display: flex;
    width: 620px;
    flex-direction: column;
    align-items: flex-start;
    gap: 82px;    
}

.comments__list--container {
    display: flex;
    width: 620px;
    align-items: flex-start;
    gap: 16px;    
}

.comments__div--container {
    display: flex;
    width: 192px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
}

.comments__title--left {
    font-size: var(--title-3-font-size);
    font-weight: var(--title-3-font-weight);
    line-height: var(--title-3-line-height);
    color: var(--cor-gray-6);
}

.comments__text--left {
    font-size: var(--text-3-font-size);
    font-weight: var(--text-3-font-weight);
    line-height: var(--text-3-line-height);
    color: var(--cor-gray-4);
}

.comments__text--paragraph {
    font-size: var(--text-2-font-size);
    font-weight: var(--text-2-font-weight);
    line-height: var(--text-2-line-height);
    color: var(--cor-gray-5);
}

footer {
    display: flex;
    padding: 50px 775px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: var(--cor-gray-1);
}

.modal__style {
    width: 476px;
    padding: 0px;
    border: 2px solid var(--cor-brand-1);
    background-color: var(--cor-gray-2);
}

.modal__style::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__container {
    display: inline-flex;
    flex-direction: column;
    padding: 40px 28px;
    gap: 31px;
}

.modal__container--top {
    display: flex;
    justify-content: space-between;
}

.modal__title {
    font-size: var(--title-3-font-size);
    font-weight: var(--title-3-font-weight);
    line-height: var(--title-3-line-height);
    color: var(--cor-gray-7);
}

.modal__button--close {
    padding: 0px  12px;
    border-radius: 4px;
    height: 32px;

    border: none;
    background-color: var(--cor-gray-3);
    color: var(--cor-gray-4);
    font-size: 20px;
    font-weight: 600;
    line-height: 160%;
}

.modal__text {
    font-size: var(--text-3-font-size);
    font-weight: var(--text-3-font-weight);
    line-height: var(--text-3-line-height);
    color: var(--cor-gray-5);
}

.modal__input {
    padding: 14px 20px;
    border: none;
    background-color: var(--cor-gray-1);
    color: var(--cor-gray-4);
    font-size: var(--text-1-font-size);
    font-weight: var(--text-1-font-weight);
    line-height: var(--text-1-line-height);
}

.modal__input:focus {
    outline: none;
    background-color: var(--cor-gray-3);
}

.modal__input:focus::placeholder {
    opacity: 0;
}

.modal__button {
    height: 60px;
    border: 1px solid var(--cor-brand-1);
    background-color: var(--cor-brand-1);

    color: var(--cor-gray-7);
    font-size: var(--text-4-font-size);
    font-weight: var(--text-4-font-weight);
    line-height: var(--text-4-line-height);
}

.modal__button:hover {
    border: 1px solid var(--cor-brand-2);
    background-color: var(--cor-brand-2);
}